In [1]:
sparkR.session()

full_path <- function(file_path) {
    working_bucket <- "demo-dlab21new-dmytro-liaskovskyi-bucket"
    sprintf("s3a://%s/%s", working_bucket, file_path)
}

Java ref type org.apache.spark.sql.SparkSession id 1

## Parse and convert Carrier data to parquet

In [2]:
carriers <- read.df(full_path("carriers.csv"), "csv", header="true", inferSchema="true")
write.df(carriers, path=full_path("R_processed/carriers"), source="parquet", mode="overwrite")
createOrReplaceTempView(carriers, "carriers")
head(carriers, 20)

   Code Description
1  02Q  Titan Airways
2  04Q  Tradewind Aviation
3  05Q  Comlux Aviation, AG
4  06Q  Master Top Linhas Aereas Ltd.
5  07Q  Flair Airlines Ltd.
6  09Q  Swift Air, LLC
7  0BQ  DCA
8  0CQ  ACM AIR CHARTER GmbH
9  0FQ  Maine Aviation Aircraft Charter, LLC
10 0GQ  Inter Island Airways, d/b/a Inter Island Air
11 0HQ  Polar Airlines de Mexico d/b/a Nova Air
12 0J   JetClub AG
13 0JQ  Vision Airlines
14 0KQ  Mokulele Flight Services, Inc.
15 0LQ  Metropix UK, LLP.
16 0MQ  Multi-Aero, Inc. d/b/a Air Choice One
17 0Q   Flying Service N.V.
18 16   PSA Airlines Inc.
19 17   Piedmont Airlines
20 1I   Sky Trek Int'l Airlines

## Parse and convert to parquet Airport data

In [3]:
airports <- read.df(full_path("airports.csv"), "csv", header="true", inferSchema="true")
write.df(airports, path=full_path("R_processed/airports"), source="parquet", mode="overwrite")
createOrReplaceTempView(airports, "airports")
head(airports, 20)

   iata airport                  city               state country lat
1  00M  Thigpen                  Bay Springs        MS    USA     31.95376
2  00R  Livingston Municipal     Livingston         TX    USA     30.68586
3  00V  Meadow Lake              Colorado Springs   CO    USA     38.94575
4  01G  Perry-Warsaw             Perry              NY    USA     42.74135
5  01J  Hilliard Airpark         Hilliard           FL    USA     30.68801
6  01M  Tishomingo County        Belmont            MS    USA     34.49167
7  02A  Gragg-Wade               Clanton            AL    USA     32.85049
8  02C  Capitol                  Brookfield         WI    USA     43.08751
9  02G  Columbiana County        East Liverpool     OH    USA     40.67331
10 03D  Memphis Memorial         Memphis            MO    USA     40.44726
11 04M  Calhoun County           Pittsboro          MS    USA     33.93011
12 04Y  Hawley Municipal         Hawley             MN    USA     46.88385
13 05C  Griffith-Merrillville    Griffith           IN    USA     41.51962
14 05F  Gatesville - City/County Gatesville         TX    USA     31.42128
15 05U  Eureka                   Eureka             NV    USA     39.60417
16 06A  Moton  Municipal         Tuskegee           AL    USA     32.46047
17 06C  Schaumburg               Chicago/Schaumburg IL    USA     41.98934
18 06D  Rolla Municipal          Rolla              ND    USA     48.88434
19 06M  Eupora Municipal         Eupora             MS    USA     33.53457
20 06N  Randall                  Middletown         NY    USA     41.43157
   long
1   -89.23450
2   -95.01793
3  -104.56989
4   -78.05208
5   -81.90594
6   -88.20111
7   -86.61145
8   -88.17787
9   -80.64141
10  -92.22696
11  -89.34285
12  -96.35090
13  -87.40109
14  -97.79697
15 -116.00506
16  -85.68004
17  -88.10124
18  -99.62088
19  -89.31257
20  -74.39192

## Parse and convert Flights data to parquet

In [62]:
flights <- read.df(full_path("2008.csv.bz2"), "csv", header="true", inferSchema="true")
flights$CarrierDelayStr <- flights$CarrierDelay
flights$WeatherDelayStr <- flights$WeatherDelay
flights <- fillna(flights_w_na, 0, cols=colnames(flights_w_na)[c(15, 16, 25:29)])
write.df(flights, path=full_path("R_processed/flights"), source="parquet", mode="overwrite")
createOrReplaceTempView(flights, "flights")
head(flights, 10)[c("ArrDelay","CarrierDelay","CarrierDelayStr","WeatherDelay","WeatherDelayStr","Distance")]

   ArrDelay CarrierDelay CarrierDelayStr WeatherDelay WeatherDelayStr Distance
1  -14       0           NA              0            NA               810
2    2       0           NA              0            NA               810
3   14       0           NA              0            NA               515
4   -6       0           NA              0            NA               515
5   34       2            2              0             0               515
6   11       0           NA              0            NA               688
7   57      10           10              0             0              1591
8  -18       0           NA              0            NA              1591
9    2       0           NA              0            NA               451
10 -16       0           NA              0            NA               451